.head-wrap{
    background: #00C9C8;
    color: black;
    width: 100%;
    height: 70px;
    position: static;
}

.logo{
    height: 70px;
    width: 60px;
    position: absolute;
    top: 1px;
    left: 100px;
    margin: 0;
    padding: 0;
}

.logo img{
    width: 100%;
    height: 100%;
}

.search-Box{
    position: absolute;
    background: white;
    top: 25px;
    width: 300px;
    cursor: text;
    border-radius: 20px;
    text-decoration: none;
    left: 50%;
    transform: translate(-50%);
}

.top-nav{
    position: relative;
}

.search-Box span{
    color: gray;
}

.search-Box:hover{
    text-decoration: none;
    color: gray;
}

.navi-bar{
    position: absolute;
    right: 30px;
    top: 5px;
}

.nav{
    display: inline-block;
    margin: 20px;
}

.nav a:hover{
    text-decoration: none;
}

.nav a li{
    color: black;
}

.navi-bar .icon{
    display: none;
}


@media screen and (max-width:720px){
    .logo{
        position: relative;
        left: 50px;     
    }

    .navi-bar{
        position: relative;
        width: max-content;
        height: max-content;
        margin: auto;
        right: 0px;
        top: 0px;
        padding: 0px;
    }
    .head-wrap{
        height: 130px;
    }
}