main{
    background: whitesmoke;
}

header, .jumbotron, .content, .side, footer{
    margin: 0px;
    padding: 20px;
    border: 1px solid #000000;
}

header{
    background: skyblue;
}

.content{
    margin: 0px;
    background: skyblue;
    flex: 2;
}

.side{
    background: steelblue;
    flex: 1;
}

footer{
    background: skyblue;
}

@media screen and (min-width: 640px){
    .display-desk{
        display: flex;
    }
}